h1 {
    font-family: Arial, sans-serif;
    font-size: 52px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

.button-container {
    display: block;
    width: max-content;
    margin: auto;
}

button {
    width: 100px;
    height: 50px;
    margin: 15px;
}

.container {
    width: 608px;
    height: 608px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 50px;
}

.gridPiece {
    width: 38px;
    height: 38px;
    border: 1px solid black;
    border-color: white;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-color: rgb(rgb(10, 21, 121), green, blue)
}
